In [8]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Format_the_data_check_data_types').getOrCreate()

df = spark.read.csv('../Bike-Sharing-Dataset-hour_new.csv',header=True,inferSchema=True)

In [9]:
import pandas as pd
sum_df = df.select('reinstant', 'dteday', 'mnth', 'hr', 'temp', 'atemp', 'hum', 'windspeed', 'cnt').describe()
pd.DataFrame(sum_df.take(sum_df.count()), columns=sum_df.columns)

,summary,reinstant,mnth,hr,temp,atemp,hum,windspeed,cnt
0,count,17544,17544,17544,17544,17544,17544,17544,17544
1,mean,8772.5,6.519835841313269,11.5,0.49698634860921004,0.4757743958048299,0.6272285681714603,0.19009668832649504,189.44932740538076
2,stddev,5064.66089684196,3.4496492053764083,6.922383841604305,0.19164844257608665,0.17104014126878642,0.19202039360213635,0.12176353660323008,180.53262210365807
3,min,1,1,0,0.02,0.0,0.0,0.0,1
4,max,17544,12,23,1.0,1.0,1.0,0.8507,977

In [10]:
#temp times 10 to check if the calculation is correct
sum_df = sum_df.withColumn('temp * 10',sum_df['temp']*10)
pd.DataFrame(sum_df.take(sum_df.count()), columns=sum_df.columns)

,summary,reinstant,mnth,hr,temp,atemp,hum,windspeed,cnt,temp * 10
0,count,17544,17544,17544,17544,17544,17544,17544,17544,175440.000000
1,mean,8772.5,6.519835841313269,11.5,0.49698634860921004,0.4757743958048299,0.6272285681714603,0.19009668832649504,189.44932740538076,4.969863
2,stddev,5064.66089684196,3.4496492053764083,6.922383841604305,0.19164844257608665,0.17104014126878642,0.19202039360213635,0.12176353660323008,180.53262210365807,1.916484
3,min,1,1,0,0.02,0.0,0.0,0.0,1,0.200000
4,max,17544,12,23,1.0,1.0,1.0,0.8507,977,10.000000

In [11]:
#check random yr, mnth and cnt to retrieve expected results
fil_df = df.filter("yr = 0 AND mnth = 1 AND cnt < 2").select('reinstant','dteday','yr','mnth','hr','cnt')
pd.DataFrame(fil_df.take(5), columns=fil_df.columns)

   reinstant     dteday  yr  mnth  hr  cnt
0          5 2011-01-01   0     1   4    1
1          6 2011-01-01   0     1   5    1
2         32 2011-01-02   0     1   7    1
3         53 2011-01-03   0     1   4    1
4         75 2011-01-04   0     1   2    1

In [7]:
#check random date and hr to see if I can get the exact result
date_df = df.filter("dteday = '2011-02-04' AND hr = '8'").select('reinstant','dteday','yr','mnth','hr')
pd.DataFrame(date_df.take(date_df.count()), columns=date_df.columns)

   reinstant     dteday  yr  mnth  hr
0        825 2011-02-04   0     2   8