In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Conduct_data_mining_linear_regression_training').getOrCreate()

df = spark.read.csv("../Bike-Sharing-Dataset-hour_new.csv",inferSchema=True,header=True)

In [2]:
import pandas as pd
new_df = df.select('reinstant', 'mnth', 'hr', 'weekday', 'holiday', 'workingday', 'hum', 
                   'temp', 'atemp', 'windspeed', 'weathersit', 'cnt')
new_df.describe().toPandas().transpose()

                0                     1                    2     3       4
summary     count                  mean               stddev   min     max
reinstant   17544                8772.5     5064.66089684196     1   17544
mnth        17544     6.519835841313269   3.4496492053764083     1      12
hr          17544                  11.5    6.922383841604305     0      23
weekday     17544     2.997264021887825   2.0034722846903734     0       6
holiday     17544  0.028499772001823985   0.1664004605297057     0       1
workingday  17544    0.6842225262197903  0.46483801154182497     0       1
hum         17544    0.6272285681714603  0.19202039360213635   0.0     1.0
temp        17544   0.49698634860921004  0.19164844257608665  0.02     1.0
atemp       17544    0.4757743958048299  0.17104014126878642   0.0     1.0
windspeed   17544   0.19009668832649504  0.12176353660323008   0.0  0.8507
weathersit  17544     1.430688554491564   0.6387565088301813     1       4
cnt         17544    189.44932740538076   180.53262210365807     1     977

In [3]:
from pyspark.ml.feature import VectorAssembler

vector_assembler = VectorAssembler(inputCols = ['reinstant', 'mnth', 'hr', 'weekday', 'holiday', 'workingday', 'hum', 
                                                'temp', 'atemp', 'windspeed', 'weathersit'], outputCol = 'features')
vector_output = vector_assembler.transform(new_df)
vector_output.printSchema()
vector_output.head(1)

root
 |-- reinstant: integer (nullable = true)
 |-- mnth: integer (nullable = true)
 |-- hr: integer (nullable = true)
 |-- weekday: integer (nullable = true)
 |-- holiday: integer (nullable = true)
 |-- workingday: integer (nullable = true)
 |-- hum: double (nullable = true)
 |-- temp: double (nullable = true)
 |-- atemp: double (nullable = true)
 |-- windspeed: double (nullable = true)
 |-- weathersit: integer (nullable = true)
 |-- cnt: integer (nullable = true)
 |-- features: vector (nullable = true)

[Row(reinstant=1, mnth=1, hr=0, weekday=6, holiday=0, workingday=0, hum=0.81, temp=0.24, atemp=0.2879, windspeed=0.0, weathersit=1, cnt=16, features=DenseVector([1.0, 1.0, 0.0, 6.0, 0.0, 0.0, 0.81, 0.24, 0.2879, 0.0, 1.0]))]

In [4]:
vector_output = vector_output.select(['features', 'cnt'])

print(vector_output.head(1))
pd.DataFrame(vector_output.take(10), columns=vector_output.columns)

[Row(features=DenseVector([1.0, 1.0, 0.0, 6.0, 0.0, 0.0, 0.81, 0.24, 0.2879, 0.0, 1.0]), cnt=16)]

                                            features  cnt
0  [1.0, 1.0, 0.0, 6.0, 0.0, 0.0, 0.81, 0.24, 0.2...   16
1  [2.0, 1.0, 1.0, 6.0, 0.0, 0.0, 0.8, 0.22, 0.27...   40
2  [3.0, 1.0, 2.0, 6.0, 0.0, 0.0, 0.8, 0.22, 0.27...   32
3  [4.0, 1.0, 3.0, 6.0, 0.0, 0.0, 0.75, 0.24, 0.2...   13
4  [5.0, 1.0, 4.0, 6.0, 0.0, 0.0, 0.75, 0.24, 0.2...    1
5  [6.0, 1.0, 5.0, 6.0, 0.0, 0.0, 0.75, 0.24, 0.2...    1
6  [7.0, 1.0, 6.0, 6.0, 0.0, 0.0, 0.8, 0.22, 0.27...    2
7  [8.0, 1.0, 7.0, 6.0, 0.0, 0.0, 0.86, 0.2, 0.25...    3
8  [9.0, 1.0, 8.0, 6.0, 0.0, 0.0, 0.75, 0.24, 0.2...    8
9  [10.0, 1.0, 9.0, 6.0, 0.0, 0.0, 0.76, 0.32, 0....   14

In [5]:
train_data,test_data = vector_output.randomSplit([0.8,0.2])

train_df = train_data.describe()
pd.DataFrame(train_df.take(5), columns=train_df.columns)

  summary                 cnt
0   count               14040
1    mean  189.38076923076923
2  stddev  180.82757110401965
3     min                   1
4     max                 977

In [6]:
test_df = test_data.describe()
pd.DataFrame(test_df.take(5), columns=test_df.columns)

  summary                 cnt
0   count                3504
1    mean   189.7240296803653
2  stddev  179.37135930249502
3     min                   1
4     max                 968

In [7]:
from pyspark.ml.regression import LinearRegression

lr = LinearRegression(featuresCol='features', labelCol='cnt')
lr_model = lr.fit(train_data)
print("Coefficients: ") 
x = 0
for coe in str(lr_model.coefficients)[1:].replace("]","").split(','):
    print("\t(cnt/"+new_df.columns[x]+"): "+coe)
    x += 1

print("Intercept: " + str(lr_model.intercept) + "\n")

data_summary = lr_model.summary
print("RMSE: " + str(data_summary.rootMeanSquaredError))
print("R2: " + str(data_summary.r2))
print("\n")

data_resi = data_summary.residuals
pd.DataFrame(data_resi.take(10), columns=data_resi.columns)

Coefficients:
	(cnt/reinstant): 0.009095202146851401
	(cnt/mnth): -1.6972731379519983
	(cnt/hr): 7.535153601197551
	(cnt/weekday): 1.6721512152342588
	(cnt/holiday): -29.25550696644464
	(cnt/workingday): 4.27270449735952
	(cnt/hum): -200.56078922153347
	(cnt/temp): 87.18455322844078
	(cnt/atemp): 242.26135415064059
	(cnt/windspeed): 24.353797942384336
	(cnt/weathersit): -2.650575868578124
Intercept: -6.787894173889911

RMSE: 142.4262138811883
R2: 0.37958613446597744

    residuals
0   64.410291
1   -3.798769
2   64.106122
3  134.102547
4  101.340922
5   84.570714
6  -11.332242
7  -51.837263
8  -59.178349
9   -4.038718